%div.panel.panel-success
  %div.panel-heading
    Lookin' good
    %table.table
      %thead
        %th
          Node
        %th
          App
        %th
          Latest version
        %th
          Actual version
      %tbody
        - nodes.each do |node|
          %tr
            %td= node[:name]
            %td= node[:app_name]
            %td= node[:expected_version]
            %td= node[:actual_version]
